<body>
    <header>
      <a href="#" class="logo">Practica</a>
      <div class="bx bx-menu" id="menu-icon"></div>
    
      <ul class="navbar">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#Nosotros">Nosotros</a></li>
        <li><a href="#inform">Informacion</a></li>
        <li><a href="#salir">Cerrar sesion</a></li>
      </ul>
    </header>
    
    <!--Home section--->
    <section class="home" id="inicio">
      <div class="home-text">
        <p>Bienvenidos</p>
       
      </div>
    </section>
    
    <!--container--->
    
    <!--Package section--->
    <section class="package" id="Nosotros">
      <div class="title">
        <h2>Nosotros</h2>
      </div>
    
      <div class="package-content">
        <div class="box">
          <div class="thum">
            <img src="../assets/img/img1.png">
          </div>
    
          <div class="dest-content">
            <div class="location">
              <h4>London</h4>
              <p>Londres, la capital de Inglaterra y del Reino Unido, es una ciudad del siglo XXI con una historia que se remonta a la época romana. En su centro se alzan el imponente Palacio del Parlamento, la torre del icónico reloj</p>
            </div>
          </div>
        </div>
    
        <div class="box">
          <div class="thum">
            <img src="../assets/img/img2.png">
          </div>
    
          <div class="dest-content">
            <div class="location">
              <h4>New York</h4>
              <p>Nueva York incluye 5 distritos que se ubican donde el río Hudson desemboca en el océano Atlántico. En su centro se encuentra Manhattan, un distrito densamente poblado que se encuentra entre los principales centros comerciales, financieros y culturales del mundo.</p>
            </div>
          </div>
        </div>
    
        <div class="box">
          <div class="thum">
            <img src="../assets/img/img3.png">
          </div>
    
          <div class="dest-content">
            <div class="location">
              <h4>Dubai</h4>
              <p>Dubái es una ciudad emirato de los Emiratos Árabes Unidos conocida por su lujoso comercio, la arquitectura ultramoderna y su vida nocturna animada. Burj Khalifa, una torre de 830 m de alto, domina el paisaje lleno de rascacielos. A sus pies se encuentra la Fuente de Dubái, con coreografías de chorros y luces al ritmo de la música</p>
            </div>
          </div>
        </div>
    
      </div>
    </section>
    
    <!--informacion section--->
    <section class="inform" id="inform">
      <div class="title">
        <h2>Informacion</h2>
      </div>
    
      <div class="destination-content">
        <div class="col-content">
          <img src="../assets/img/img-1.jpg">
          <h5>Machu Picchu</h5>
          <p>PERU</p>
        </div>
    
    
        <div class="col-content">
          <img src="../assets/img/img-3.jpg">
          <h5>Machu Picchu</h5>
          <p>PERU</p>
        </div>
    
    
    
        <div class="col-content">
          <img src="../assets/img/img-6.jpg">
          <h5>Machu Picchu</h5>
          <p>PERU</p>
        </div>
    
      </div>
  
    <div class="end-text">
      <p>Sito web desrrollado por Yolanda Perez | Copyright ©2022 prueba</p>
    </div>
  </section>
  
  
  </body>